apiVersion: v1
kind: Service
metadata:
  name: gitea-svc
spec:
  ports:
    - port: 80
      targetPort: 3000
      name: http
    - port: 22
      targetPort: 22
      name: ssh
  selector:
    app: gitea