apiVersion: apps/v1
kind: Deployment
metadata:
  name: code-server-deployment
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: code-server
  template:
    metadata:
      labels:
        app: code-server
    spec:
      securityContext:          # Pod 수준 securityContext
        fsGroup: 1000
        runAsUser: 1000
        runAsGroup: 1000
      initContainers:
        - name: fix-permissions
          image: alpine
          securityContext:
            runAsUser: 0
            allowPrivilegeEscalation: true
          command: ["sh", "-c", "chown -R 1000:1000 /config && chown 1000:1000 /run"]
          volumeMounts:
            - name: run-dir
              mountPath: /run
            - name: code-server-data
              mountPath: /config
      containers:
        - name: code-server
          image: lscr.io/linuxserver/code-server:latest
          ports:
            - name: http
              containerPort: 8443
          env:
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dev-ops-secret
                  key: code-server-password
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Asia/Seoul"
          securityContext:       # 컨테이너 수준 securityContext
            runAsUser: 1000
            runAsGroup: 1000
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - name: code-server-data
              mountPath: /config
            - name: run-dir
              mountPath: /run
      volumes:
        - name: code-server-data
          persistentVolumeClaim:
            claimName: code-server-pvc
        - name: run-dir
          emptyDir: {}
