apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: code-server-pvc
  labels:
    app: code-server
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.persistence.codeServer.size }} # values.yaml을 사용하지 않는다면 여기에 직접 하드코딩
  storageClassName: {{ .Values.persistence.codeServer.storageClass }}  # Stateful 할 필요가 없음