apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wireguard-pvc
  labels:
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi # values.yaml을 사용하지 않는다면 여기에 직접 하드코딩
  storageClassName: standard # Stateful 할 필요가 없음