apiVersion: apps/v1
kind: Deployment
metadata:
    name: debian-repo-deployment 
spec:
    replicas: 1  # {.Values.debianRepo.replicaCount }}
    selector:
        matchLabels:
            app: debian-repo-server
    template:
        metadata:
            labels:
                app: debian-repo-server
    containers:
        - name: debian-repo-server
          image: debian:latest
          command: ["/bin/sh," "-c"]
          args: ["apt-get update && apt-get install -y curl gpg wget debmirror", 
          "## debmirror 초기 설정명령어"
          ]
          ports:
            - containerPort: 80
          volumeMounts:
            - name: repo-storage
              mountPath: /var/www/html/debian  # Debian 저장소의 경로에 맞게 수정
      volumes:
        - name: repo-storage
          persistentVolumeClaim:
            claimName: debian-repo-pvc
        