apiVersion: v1
kind: Service
metadata:
  name: {{ include "workspace-chart.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "workspace-chart.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  

# 예 ) workspace-chart.default.svc.cluster.local 로 (service 이름과 namespace) 를 통해 DNS로 조회 가능해야 
# 프로시를 쓸 수 있음