apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea-deployment
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitea
  template:
    metadata:
      labels:
        app: gitea
    spec:
      securityContext:          # Pod 수준
        fsGroup: 1000
        runAsUser: 1000
        runAsGroup: 1000
      initContainers:
        - name: fix-permissions
          image: alpine
          securityContext:
            runAsUser: 0
            allowPrivilegeEscalation: true
          command: ["sh", "-c", "chown -R 1000:1000 /data /run"]
          volumeMounts:
            - name: gitea-data
              mountPath: /data
            - name: run-dir
              mountPath: /run
      containers:
        - name: gitea
          image: gitea/gitea:latest
          ports:
            - containerPort: 3000
            - containerPort: 22
          securityContext:      # 컨테이너 수준
            allowPrivilegeEscalation: false
            runAsUser: 1000
            runAsGroup: 1000
            capabilities:
              drop:
                - ALL
              add:
                - CHOWN
          volumeMounts:
            - name: gitea-data
              mountPath: /data
            - name: run-dir
              mountPath: /run
      volumes:
        - name: gitea-data
          persistentVolumeClaim:
            claimName: gitea-pvc
        - name: run-dir
          emptyDir: {}
