apiVersion: v1
kind: Service
metadata:
  name: gitea-svc
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 3000
      name: http
    - port: 22
      targetPort: 22
      nodePort: 30022   # 외부에서 ssh 접속 가능
      name: ssh
  selector:
    app: gitea
