apiVersion: v1
kind: Service
metadata:
  name: gitea-http-svc
  namespace: devops
spec:
  type: ClusterIP
  selector:
    app: gitea
  ports:
    - name: http
      protocol: TCP
      port: 3000
      targetPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: gitea-ssh-svc
  namespace: devops
spec:
  type: NodePort
  selector:
    app: gitea
  ports:
    - name: ssh
      protocol: TCP
      port: 22
      targetPort: 22
      nodePort: 31022